body {
  padding: 1rem;
  margin: 1rem;
  background-color: #F5F5F5;
}

.question-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}

.question :hover {
  transform: scale(1.01);
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin: 5px;
}

.question-desc {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  vertical-align: middle;
}

.question-subscript {
  font-size: smaller;
  font-style: italic;
}

.question-answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  width: inherit;
}

.question-answers> :nth-child(1) {
  background-color: #B0E0E6;
}

.question-answers> :nth-child(3) {
  background-color: #3CB371;
}

.or {
  padding: 25px 0px;
  vertical-align: middle;
  text-align: center;
}

.question-option {
  flex: 1;
  padding: 10px;
  margin: 5px;
  vertical-align: middle;
}

.form-container {
  max-width: 50%;
  max-height: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.add-question-form {
  display: flex;
  flex-direction: column;
}

.question-view {
  align-items: center;
}

.vote-container {
  width: 100%;
  max-width: 590px;  
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-radius: 3px;
}

.vote-container :nth-child(1) {
  background-color: #B0E0E6;
}

.vote-container :nth-child(2) {
  background-color:#3CB371;
}

.vote-count {
  height: auto;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-animation: createBox .25s;
  animation: showVotes 1s
}

.leaderboard-container {
  width: 100%;
  height: 100%;
  min-width: 500px;
  margin: 20px auto ;
  align-content: center;
}

.leaderboard-container > h3 {
  margin: 30px auto;
  text-align: center;
}

.leaderboard-table {
  width: 100%;
}

.selected {
  float: right;
}

.leaderboard-user {
  margin: auto;
  display: inline-flex;
}

.leaderboard-user-name {
  margin-left: 10px;
  padding: 5px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}

@-webkit-keyframes showVotes { from { transform: scale(0); } to { transform: scale(1); } }
@keyframes showVotes { from { transform: scale(0); } to { transform: scale(1); } }