body {
  padding: 1rem;
  margin: 1rem;
  background-color: #F5F5F5;
}

.question-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 3px;
}

.question-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin: 5px;
}

.question-desc {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  vertical-align: middle;
}

.question-subscript {
  font-size: smaller;
  font-style: italic;
}

.question-answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  width: inherit;
}

.question-answers> :nth-child(1) {
  background-color: #B0E0E6;
}

.question-answers> :nth-child(3) {
  background-color: #3CB371;
}

.or {
  padding: 25px 0px;
  vertical-align: middle;
  text-align: center;
}

.question-option {
  flex: 1;
  padding: 10px;
  margin: 5px;
  vertical-align: middle;
}